.addUser-form {
  width: 340px;
  margin: 0 auto;
  padding: 50px 0px 0px 0px;
  text-align: center;
}
.addUser-input {
  width: 100%;
  height: 43px;
  margin: 0px 0px 10px 0px;
  padding: 10;
}
.addUser-button {
  width: 100%;
}
