.userList-container {
  background-color: #011f4b;
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.userList-title {
  color: white;
  font-weight: bold;
  margin: 5px;
  padding: 10;
}
.userList-ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
}
.userList-li {
  color: white;
  margin: 0;
  padding: 0;
}
.userList-online {
  display: inline-block;
  color: green;
  margin: 5px 8px 5px -29px;
}
